* {
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

:root {
 

--very-dark-violet-main-background: hsl(268, 75%, 9%);
--very-dark-violet-keypad-background: hsl(268, 71%, 12%);
--dark-violet-key-background: hsl(281, 89%, 26%);
--vivid-magenta-key-shadow: hsl(285, 91%, 52%);
--pure-cyan-key-background: hsl(176, 100%, 44%);
--soft-cyan-key-shadow: hsl(177, 92%, 70%);
--very-dark-violet-key-background: hsl(268, 47%, 21%);
--dark-magenta-key-shadow: hsl(290, 70%, 36%);
--light-yellow: hsl(52, 100%, 62%);
--very-dark-blue: hsl(198, 20%, 13%);
--white-text: hsl(0, 0%, 100%);

}

body {
    height: 100vh;
    background-color: var(--very-dark-blue);
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator_heading {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
}

.toggle_switch {
    display: flex;
    margin-left: auto;
    font-size: medium;
}

.numbers {
    display: flex;
    justify-content: space-between
}

.switch {
    height: 20px;
    width: 74px;
}

.heading_theme {
    display: flex;
    align-items: center;
}

.screen {
    background-color: var(--screen-blue);
    height: 64px;
    width: 400px;
    margin-bottom: 16px;
    padding: 34px 30px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-y: hidden;
}

.calc-screen {
    font-size: 50px;
}

.calc_keys {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 16px;
    background-color: var(--body-blue);
    border-radius: 10px;
}

.calc_button {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 12px 10px;

    border: 5px solid var(--grayish-orange-key-shadow);
    border-width: 0 0 4px;
    border-radius: 12px;
    box-sizing: border-box;
    color: var(--very-dark-grayish-blue);
    background-color: var(--light-grayish-orange-key-background);
}

.calc_button:hover {
    background-color: var(--white);
}

.btn-blue {
    text-transform: uppercase;
    border: 5px solid var(--dark-blue-key-shadow);
    border-width: 0 0 4px;
    color: var(--white);
    background-color: var(--dark-blue-key-background);
}

.btn-blue:hover {
    background-color: var(--dark-blue-key-hover-background);
}

.btn-reset {
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn-result {
    grid-column-start: 3;
    grid-column-end: 5;

    border: 5px solid var(--dark-red-key-shadow);
    border-width: 0 0 4px;
    color: var(--white);
    background-color: var(--red-key-background);
}

.btn-result:hover {
    background-color: var(--red-key-hover-background);
}